.product-main {
  padding: 20px 0;

  .product {
    .title {
      margin-bottom: 20px;
      padding: 10px 20px;
      display: flex;

      align-items: center;

      .line {
        background: black;
        height: 2px;
        width: 20%;
        margin-right: 10px;
      }
      h1 {
        font-size: 2.3rem;
        font-weight: 200;
        font-style: italic;
      }
    }

    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;

      @media screen and (max-width: 868px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .item {
        margin: 5px;
        padding: 5px;
        text-align: center;

        &:nth-child(even) {
          padding-top: 40%;
        }
        &:nth-child(odd) {
          padding-bottom: 40%;
        }

        .img {
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }
        .name {
          h3 {
            font-weight: 500;
          }
        }
        .off {
          h5 {
            font-weight: 300;
          }
        }
        .recent-price {
          p {
            text-decoration: line-through;
            font-weight: 300;
          }
        }
        .price {
          h3 {
            font-weight: 500;
          }
        }
        .actions {
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            padding: 5px 10px;
            margin: 0 5px;
            border: none;
            flex: 1;
            cursor: pointer;
            height: 100%;
            background: black;
            color: white;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
